/*
/.**

!/.gitignore
!/.hugo_build.lock
!/CODE_OF_CONDUCT.md
!/config.toml
!/LICENSE.txt
!/README.md
!/.github/
!/.github/**
!/assets/
/assets/**
!/assets/indices/
/assets/indices/**
!/assets/indices/.gitkeep
!/assets/js/
!/assets/js/**
!/assets/styles/
!/assets/styles/**
!/content/
!/content/**
!/data/
!/data/**
!/i18n/
!/i18n/**
!/layouts/
!/layouts/**
!/static/
!/static/**
/static/linkmap
